.react-pdf-page-wrapper .textLayer {
  mix-blend-mode: multiply;
}

.react-pdf-page-wrapper::selection {
  background-color: #fbe796;
  color: transparent;
}

.react-pdf-page-wrapper.area-dragging .textLayer span,
.react-pdf-page-wrapper.area-dragging .annotationLayer a {
  user-select: none;
  pointer-events: none;
}
